<div class="d-flex justify-content-center bg-white">
  <div class="col-8 text-dark">
    <div *ngIf="vehicleListing">
      <h2 data-cy="vehicleListingDetailsHeading"><span jhiTranslate="carplaceApp.vehicleListing.detail.title">Vehicle Listing</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <ngb-carousel class="rounded container-fluid" *ngIf="images">
        <ng-template *ngFor="let image of images" ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="image" alt="Car image" class="col-12" />
          </div>
        </ng-template>
      </ngb-carousel>

      <div class="shadow p-3 mb-5 bg-white row mt-4">
        <div class="col-md-8">
          <p class="h4">{{ vehicleListing.carModel?.model }}</p>
          <ul class="list-unstyled d-flex flex-wrap gap-2">
            <li *ngIf="vehicleListing.year" class="btn-sm border border-info rounded h6">Year: {{ vehicleListing.year }}</li>
            <li class="btn-sm border border-info rounded h6">Mileage: {{ vehicleListing.mileage }}</li>
            <li *ngIf="vehicleListing.fuel" class="btn-sm border border-info rounded h6">{{ vehicleListing.fuel }}</li>
            <li *ngIf="vehicleListing.cubicCapacity" class="btn-sm border border-info rounded h6">
              Cubic capacity: {{ vehicleListing.cubicCapacity }} &#13220;
            </li>
            <li *ngIf="vehicleListing.make" class="btn-sm border border-info rounded h6">Make: {{ vehicleListing.carModel?.make }}</li>
            <li *ngIf="vehicleListing.ac" class="btn-sm border border-info rounded h6">A/C: {{ vehicleListing.ac }}</li>
            <li *ngIf="vehicleListing.vin" class="btn-sm border border-info rounded h6">V.I.N: {{ vehicleListing.vin }}</li>
            <li *ngIf="vehicleListing.esp" class="btn-sm border border-info rounded h6">ESP: {{ vehicleListing.esp }}</li>
            <li *ngIf="vehicleListing.abs" class="btn-sm border border-info rounded h6">ABS: {{ vehicleListing.abs }}</li>
            <li *ngIf="vehicleListing.emission" class="btn-sm border border-info rounded h6">Emission: {{ vehicleListing.emission }}</li>
            <li class="btn-sm border border-info rounded h6">VAT: {{ vehicleListing.vat }}</li>
          </ul>
          <p *ngIf="vehicleListing.mot" class="h6 text-justify">Technical Inspection: {{ vehicleListing.mot | date }}</p>
          <p *ngIf="vehicleListing.regDate" class="h6 text-justify mt-1">Registration Date: {{ vehicleListing.regDate | date }}</p>
          <p *ngIf="vehicleListing.colour" class="h6 text-justify mt-1">Colour: {{ vehicleListing.colour }}</p>
          <p *ngIf="vehicleListing.doors" class="h6 text-justify mt-1">Number of Doors: {{ vehicleListing.doors }}</p>
          <p *ngIf="vehicleListing.numberOfSeats" class="h6 text-justify mt-1">Number of Seats: {{ vehicleListing.numberOfSeats }}</p>
        </div>
        <div class="col-md-4">
          <p *ngIf="vehicleListing.price" class="h2 text-warning mt-2 text-justify">{{ vehicleListing.price | currency: 'EUR' }}</p>
          <p class="h5 text-justify mt-2">Internal Number: {{ vehicleListing.internalNumber }}</p>
          <p class="h5 text-justify mt-2">Category/Categories:</p>
          <ul class="list-unstyled m-0" *ngFor="let category of vehicleListing.carModel?.categories">
            <li class="">{{ category.name }}</li>
          </ul>
          <p *ngIf="vehicleListing.gearbox" class="h5 text-justify mt-2">Type of Gearbox: {{ vehicleListing.gearbox }}</p>
          <p *ngIf="vehicleListing.emissionClass" class="h5 text-justify mt-2">Emission Class: {{ vehicleListing.emissionClass }}</p>
          <p *ngIf="vehicleListing.status" class="h5 text-justify mt-2">Status: {{ vehicleListing.status }}</p>
          <p *ngIf="vehicleListing.performance" class="h5 text-justify mt-2">Performance: {{ vehicleListing.performance }}</p>
        </div>
      </div>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/vehicle-listing', vehicleListing.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
